{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Change Password</title>
	{% comment %} <link rel="stylesheet" type="text/css" href="style.css"> {% endcomment %}
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
	<link rel="stylesheet" href="{% static '/css/userlogin1.css' %}">
</head>

<body>
	<div class="container">
	<form class="form" action="{% url 'reset_password' %}" method="post">
		{% csrf_token %}
		<p id="heading">Change Password</p>
		{% include 'includes/alerts.html' %}

        <div class="field">
        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path>
        </svg>
            <input placeholder="Create Password" name="password" class="input-field" type="password" required="">
        </div>

        <div class="field">
        <svg class="input-icon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" viewBox="0 0 16 16">
        <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2z"></path>
        </svg>
            <input placeholder="Create Password" name="conf-password" class="input-field" type="password" required="">
        </div>
        <button class="button3" type="submit">Save Changes</button>
         
    </div>
    
    {% comment %} <button class="button3" type="submit"><a style="text-decoration:none;color:yellow;" href="{% url 'resend-otp' %}">Resend OTP</a></button> {% endcomment %}

</form>

</div>
</body>
</html>